.feynman__title {
  width: 648px;
  /* margin: 80px auto 0px; */
  margin: 0 auto;
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;

  /* Была проблема c z-index и ссылкой, до которой не удавалось достучаться при фоне секции
  с отрицательным z-index, при положительном z-index у фона секции он загораживал картинку,
  если у картинки поднимал z-index она загораживала заголовки секции, при увеличении z-index
  у заголовков секции ничего не происходило (картинка по прежнему их загораживала) пока не
  выдернул эти заголовки из потока тоже - только это помогло */

  position: relative;
  z-index: 1;
}
